<button id="proscan">pro scan</button>
<button id="stopscan">stop pro scan</button>
<button id="easyscan">easy scan</button>
<div id="reader" width="600px"></div>
<div id="content"></div>
<script src="~/lib/html5-qrcode/html5-qrcode.min.js"></script>
<script src="~/js/html5qrcode.js"></script>
