<canvas id="detect_result"></canvas>
<video autoplay playsinline muted id="webcam"></video>
<button class="btn-style-2" id="start" >start</button>
<script src="https://cdn.jsdelivr.net/npm/@@tensorflow/tfjs/dist/tf.min.js"></script>
<script src="~/js/tensorflow/lib/coco-ssd.js"></script>
<script src="~/js/tensorflow/objectdetection.js"></script>