<video autoplay></video>
<button id="startscan">開始掃描</button>
<button id="stopscan">停止掃描</button>
<canvas id="outputCanvas"></canvas>
<canvas id="inputCanvas"></canvas>

@*style="position:fixed;left:100%;"*@

<script src='/js/tesseract.js?ver=20230711'></script>